@{
    ViewBag.Title = "Netflix";
}
<link href="~/Content/css/home/index.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <div class="items_start"> 

        <div class="it_st-logo gap-6">
            <i class="fa-regular fa-moon"></i>
            <div class=" it_st-logo-text">
                <span class="text-white font-medium text-size">MOON</span>
                <span class="font-medium text-size text-primary">LIGHT</span>
            </div>
        </div>

        <div class="it_st_items it_st-menu gap-6">
            <div class="text-white font-medium text-size">MENU</div>
            <div class="it_st-menu-home item_menu_start text-size font-medium">
                <a class="flex gap-6" href="/"><i class="fa-solid fa-house"></i>Home</a>
            </div>
            <div class="it_st-menu-explore item_menu_start text-size font-medium">
                <a class="flex gap-6" href="/"><i class="fa-solid fa-compass"></i>Explore</a>
            </div>
            <div class="it_st-menu-search item_menu_start text-size font-medium">
                <a class="flex gap-6" href="/"><i class="fa-solid fa-magnifying-glass"></i>Search</a>
            </div>
        </div>

        <div class="it_st_items it_st-personal gap-6">
            <div class="text-white font-medium text-size">PERSONAL</div>
            <div class="it_st-personal-bookmarked item_menu_start text-size font-medium">
                <a class="flex gap-6" href="/"><i class="fa-solid fa-bookmark"></i>Bookmarked</a>
            </div>
            <div class="it_st-personal-history item_menu_start text-size font-medium">
                <a class="flex gap-6" href="/"><i class="fa-solid fa-clock"></i>History</a>
            </div>
        </div>

        <div class="it_st_items it_st-general gap-6">
            <div class="text-white font-medium text-size">GENERAL</div>
            <div class="it_st-personal-profile item_menu_start text-size font-medium">
                <a class="flex gap-6" href="/"><i class="fa-solid fa-user"></i>Profile</a>
            </div>
            <div class="it_st-personal-login item_menu_start text-size font-medium">
                <a class="flex gap-6" href="/"><i class="fa-solid fa-right-to-bracket"></i>Login</a>
            </div>

        </div>
    </div>

    <div class="center_web">
        <div class="movie_type-and-account">
            <div class="movie_type">
                <div class="movie_type-1">
                    <a href="/">
                        TV Show
                    </a>
                </div>
                <div class="movie_type-2">
                    <a href="/">
                        Movies
                    </a>
                </div>
            </div>
            <div class="account">
                <p>your name</p>
                <!--avatar-->
            </div>
        </div>
        <div class="body_left-movies-load">

        </div>
        <div class="body_left-popular">

        </div>
        <div class="body_left-top_rated">

        </div>
        <div class="body_left-hot>

        </div>
        <div class="body_left-on_the_air">

        </div>
    </div>

    <div class="right_wed">
        <div>

        </div>
    </div>
