body {
    width: 100vw;
    height: 100vh;
}

.login-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/wp9764009.jpg');
}

.login-form_header {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 100px;
    font-weight: 600;
    opacity: 0.5;
}

.login-form_body {
    border-radius: 10px;
    height: 50%;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
}

.login-form_body_header {
    background-color: #33b5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.container_input_text {
    width: 100%;
    padding: 20px 20px 0px 20px;
}

input.input_text {
    width: 100%;
    max-width: 360px;
}

.btn_check {
    padding: 20px;
    display: block;
    display: flex;
    justify-content: space-between;
}

.login-form_body_list-button {
    display: flex;
    justify-content: space-around;
}

.login-form_body_list-button_button {
    padding: 6px 100px;
    border: 2px outset;
    border-radius: 5px;
    background-color: #ff3e3e;
    color: #fff;
    transition: background-color 0.3s ease;
}

    .login-form_body_list-button_button:hover {
        background-color: #33b5e5;
    }

.login-form_body_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

