

body {
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
    background-color: black;
    height: 100vh;
}

.body {
}

.main {
    background-image: url('./../../img/family-road-trip-canvapro-111-road-trip-movies-768x512.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}

.main_body {
    border-radius: 5px;
    left: 35%;
    top: 15%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #808080;
    height: 670px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.7);
}

.text_register {
    font-size: 50px;
    color: black;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container_input_text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_text {
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 1.2rem;
    margin-bottom: 10px;
    padding: 5px 5px 5px 20px;
    width: 80%;
    outline: 0px !important;
}

.container_input_text_birthday {
    display: flex;
    width: 400px;
    align-items: baseline;
    margin-top: 10px;
}

    .container_input_text_birthday > p {
        margin-right: 20px;
    }

.container_input_text_sex {
    display: flex;
    width: 400px;
    align-items: baseline;
}

    .container_input_text_sex > p {
        margin-right: 20px;
    }

.check_and_forgot {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    font-size: 15px;
    justify-content: space-around;
}

.btn_check {
    color: black;
    display: flex;
    gap: 10px;
    align-items: center;
}

.psw {
    display: block;
    color: black;
    text-decoration: none;
    text-decoration: none;
}

    .psw:hover {
        color: #ff0000
    }

.container_login_and_register {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0px;
}

.button_register {
    display: flex;
    font-weight: 500;
    border: 0px;
    border-radius: 5px;
    background: #2e2d31;
    color: #fff;
    font-size: 16px;
    width: 150px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.button_login_and_register:hover {
    background-color: antiquewhite;
    color: black;
}

.footer {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-login_or {
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.footer-login_img {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    font-size: 25px;
}

    .footer-login_img > a {
        color: black;
    }

        .footer-login_img > a:hover {
            opacity: 0.7;
        }

.btn_check input {
    display: none;
}

.btn_check .checkbox {
    position: relative;
    width: 14px;
    height: 14px;
    border: 2px solid #000;
    border-radius: 47%;
}

.btn_check input:checked + .checkbox:after {
    position: absolute;
    width: 8px;
    height: 8px;
    content: "";
    background: #000;
    top: 1px;
    left: 1px;
    border-radius: 50%;
}

.checkbox {
    cursor: pointer;
}
