@{
    ViewBag.Title = "Login";
}
<link href="~/Content/css/login.css" rel="stylesheet" />
<div class="main">
    
    <div class="header">
        <p class="text_login">
            LOGIN
        </p>
    </div>

    <div class="container_input_text">
        <input class="input_text" type="text" placeholder="Username" name="uname" required>
        <input class="input_text" type="password" placeholder="Password" name="uname" required>
    </div>
    <div class="check_and_forgot">
        <div class="btn_check">
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </div>
        <a class="psw" href="#">Forgot password?</a>
    </div>
</div>
